<?xml version="1.0"?>
<phpunit bootstrap="autoload.php">
    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">controller</directory>
            <directory suffix=".php">Database</directory>
        </whitelist>
    </filter>
</phpunit>